<footer class="footer">
  <div class="label-md footer__label">Issued <%= new Date().getFullYear(); %></div>
  <div class="footer-links">
    <a href="/about">About</a>
    <a href="/support">Support</a>
  </div>
  <div class="footer__note">
    Writer's Network • Crafted with NodeJs & MongoDB
  </div>
</footer>