<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/style.css">
  
  <!-- EasyMDE Rich Text Editor -->
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

  <script type="text/javascript" defer src ="/js/script.js"></script>
</head>
<body>
  <div class="container">
    <%- include('../partials/header_dashboard.ejs')%>  
    <main class="main">
      <%- body %>
    </main>
     <%- include('../partials/footer.ejs') %> 
  </div>
 
  
</body>
</html>